.requestPhotos {
  margin: 60px auto;
  color: #FFFFFF;

  .title {
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 2px solid #0DCAF0;
    border-radius: 8px;
  }
}

.formWrapper {
  border-radius: 8px;
  padding: 10px 30px;

  form {
    gap: 20px;

    input, select, textarea {
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 10px;
      background-color: #273133;
      color: #FFFFFF;

      &:focus {
        //border-color: #198754;
        outline: none;
      }
      &:invalid {
        border-color: #FFFFFF;
      }
    }
  }
}