.App {
  text-align: center;
  background-color: #15181a;

  font-family: 'Roboto', sans-serif;
}

.nav-link {
  cursor: pointer;
}


.title {
  color: #ffffff;
}

.contacts {
  padding: 100px 0;
}

.contacts-list {
  color: #ffffff;
  list-style: none;
  font-size: 24px;
}

hr {
  border: 1px solid #939393;
}