body {
  background-color: #15181a;
}
.App {
  text-align: center;
  background-color: #15181a;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.nav-link {
  cursor: pointer;
}


.title {
  color: #ffffff;
}

.contacts {
  padding: 100px 0;
}

.contacts-list {
  color: #ffffff;
  list-style: none;
  font-size: 24px;
}